extends layouts/layout
block content
  body
    div(class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow")
        img(src="/imgs/Shonen_logo.png" width="30" height="30" class="d-inline-block align-top espacio-derecha" alt="")
        h5(class="my-0 mr-md-auto font-weight-normal") SHONEN.Inc
        nav(class="my-2 my-md-0 mr-md-3")
            a(class="p-2 text-dark" href="/items/home") Página principal
            a(class="p-2 text-dark" href="/items/addItem") Añadir productos     
        a(class="nav-link dropdown-toggle btn btn-outline-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Perfil de usuario
        div(class="dropdown-menu" aria-labelledby="navbarDropdown")
            a(class="dropdown-item" href="/users/settings") Ajustes
            a(class="dropdown-item" href="#") Pedidos
            div(class="dropdown-divider")
            a(class="dropdown-item" href="/users/logout") Cerrar sesión

    div(class="row mx-auto center-block")
        div(class="col-md-8 offset-md-2")
            h2 Mis pedidos
            hr
            each order in orders
                div(class="card")
                    div(class="card-body")
                        ul(class="list-group")
                            each val in order.items
                                li(class="list-group-item") #{val.item.name} | #{val.qty} Unidad(es)
                                    span(class="badge badge-pill badge-secondary float-right") #{val.price} €              
                    div(class="card-header text-right")
                        strong Precio total del pedido: #{order.cart.totalPrice} €
                br
